@model Category
@{
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">@ViewBag.Title</h3>
    </div>

    <div class="card-body">
        <form asp-controller="Category" asp-action="Save" method="post">
            <input type="hidden" asp-for="CategoryID" />

            <div class="form-group mb-3">
                <label class="form-label" style="font-weight:bold">Tên loại hàng:</label>
                <input type="text" class="form-control" asp-for="CategoryName" autofocus placeholder="Nhập tên loại hàng">
                @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mb-3">
                <label class="form-label" style="font-weight:bold">Mô tả:</label>
                <textarea class="form-control" rows="3" asp-for="Description" placeholder="Nhập mô tả cho loại hàng này"></textarea>
            </div>

            <div class="card-footer text-end">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save me-1"></i> Lưu dữ liệu
                </button>
                <a href="~/Category" class="btn btn-default">
                    Quay lại
                </a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger mt-2"></div>
        </form>
    </div>
</div>


