@{
    Layout = null;
}
<div class="modal-header text-bg-danger">
    <strong class="modal-title">
        XÛa gi? h‡ng
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <div class="alert alert-danger d-flex align-items-center">
        <i class="bi bi-info-circle me-2"></i>
        B?n cÛ ch?c ch?n mu?n xÛa t?t c? c·c m?t h‡ng trong gi? h‡ng khÙng?
    </div>
</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-primary">
        <i class="bi bi-check"></i> Ch?p nh?n
    </button>
    <button type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
        –Ûng
    </button>
</div>
