@{
    Layout = null;
}
<div class="modal-header text-bg-danger">
    <strong class="modal-title">
        Xóa m?t hŕng kh?i đőn hŕng
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <div class="alert alert-danger d-flex align-items-center">
        <i class="bi bi-info-circle me-2"></i>
        B?n có mu?n xóa m?t hŕng nŕy ra kh?i đőn hŕng không?
    </div>
</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-primary">
        <i class="bi bi-check"></i> Ch?p nh?n
    </button>
    <button type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
        Đóng
    </button>
</div>
