@{
    Layout = null;
}
<div class="modal-header text-bg-success">
    <strong class="modal-title">
        Xác nh?n đőn hŕng thŕnh công
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <div class="alert alert-success d-flex align-items-center">
        <i class="bi bi-info-circle me-2"></i>
        B?n có ch?c ch?n xác nh?n đőn hŕng nŕy đ? đý?c giao thŕnh công?
    </div>
</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-primary">
        <i class="bi bi-check"></i> Ch?p nh?n
    </button>
    <button type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
        Đóng
    </button>
</div>
